/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #32a093 0%,
    #32a093 15%,
    #dee0da 15%,
    #dee0da 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Uitilities*/
.active {
  background-color: rgb(228, 226, 226);
}
/*Container*/
._container {
  width: 80%;
  min-width: 900px;
  height: 95%;
  background-color: white;
}

.row {
  height: 100%;
}

/*Header*/
header {
  min-height: 8%;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  padding: 10px;
}

.icons i {
  color: #bababa;
  font-size: 15px;
  padding: 9px;
}

.user,
.notification {
  font-weight: bold;
  font-size: 20px;
}

.user h5 {
  font-size: 15px;
}
/*Left column*/
.col-4 section {
  min-height: 9%;
  background-color: #a2dffe;
}

.col-4 {
  border-right: 1px solid rgb(209, 209, 209);
}

img {
  width: 50px;
  border-radius: 50%;
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
}

.notification a {
  color: rgb(104, 103, 103);
  font-weight: bold;
}

.bell {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.bell i {
  color: #a2dffe;
}

.search {
  padding: 5px;
}

.search i {
  color: #bfc2c4;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

.messages div {
  margin-bottom: 10px;
}

ul li:hover {
  background-color: rgb(228, 226, 226);
}

/*Right column*/
.col-8 main {
  background-image: url("../img/mine.jpg");
  min-height: 85%;
}

.col-8 .section {
  min-height: 7%;
  background-color: #f4f0ed;
}

/*Messages*/
.messages {
  display: flex;
  flex-direction: column;
  padding: 60px;
  font-weight: bold;
}

.messageSent,
.messageReceived {
  border-radius: 10px;
  width: 300px;
  padding-top: 6px;
  padding-left: 6px;
}

.messages h5 {
  color: rgb(170, 169, 169);
  font-size: 10px;
  text-align: right;
}

.messageSent {
  align-self: flex-end;
  background-color: #ddfabf;
}

.messageReceived {
  align-self: flex-start;
  background-color: white;
}

/*Input*/
.input {
  background-color: #f4f0ed;
}
input .form-control {
  width: 700px;
}
.input i {
  padding: 20px;
  color: #777e82;
}
